langchain
sentence-transformers
openai
tiktoken
requests
fake-useragent
undetected-chromedriver
selenium
gradio
beautifulsoup4
chromadb
html2text
python-dotenv
playwright
validators
youtube-transcript-api
pytube